#include <windows.h>
#include "stub32.h"

IDI_APPLICATION ICON
"..\\..\\shoes\\appwin32.ico"

ASKDLG DIALOG 20, 20, 199, 59
STYLE DS_SETFONT |DS_MODALFRAME |WS_POPUP |WS_VISIBLE |WS_SYSMENU |WS_CAPTION
CAPTION "shoes!! feel yeah!!"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "Shoes is downloading.",IDSHOE,"STATIC",SS_LEFT |WS_CHILD |WS_VISIBLE ,8,8,179,14
  CONTROL "",IDPROG,PROGRESS_CLASS,WS_CHILD |PBS_SMOOTH,8,24,179,8
  CONTROL "&Cancel",IDCANCEL,"BUTTON",BS_PUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,88,38,40,14
END

