*.o
*.so
*.dylib
*.obj
*.res
*.bundle
*.def
*.exe
._*
*.rl
*.log
.byebug_history
Makefile
VERSION.txt
*-custom.yaml
Shoes3.2.geany
crosscompile
bin/main.c
shoes/version.h
deps
dist
pkg
notes
/i686-linux
/x86_64-linux
/xarmv6hf
/xwin7
/win7
/mavericks
/xmavericks
/msys2
/xmsys2
/pi2
/qtifw
*.app
req/binject
req/bloopsaphone
req/json
/qtifw
*.orig
shoes/types/types.h
cshoes
