*.o
*.obj
*.res
*.bundle
*.def
*.exe
._*
VERSION.txt
Shoes3.2.geany
crosscompile
bin/main.c
shoes/version.h
deps
dist
pkg
i386-gnu-linux
x86_64-linux
xarmv6-pi
xmingw32
tightmingw
mavericks-x86_64
snowleopard
xsnow
*.app
req/*
