*.o
*.so
*.dylib
*.obj
*.res
*.bundle
*.def
*.exe
._*
*.rl
*.log
Makefile
VERSION.txt
*-custom.yaml
Shoes3.2.geany
crosscompile
bin/main.c
shoes/version.h
deps
dist
pkg
notes
xi686_linux
x86_64_linux
xarmv6hf
xmingw32
tightmingw
xwin7
win7
mavericks
snowleopard
xsnow
/pi2
*.app
req/binject
req/bloopsaphone
req/json
/Playing Cards.zip
/Hqueen_simple.svg
/Color_52_Faces_simple.svg
