[Desktop Entry]
Name=Shoes
Exec=/home/ccoupe/.shoes/federales/shoes
StartupNotify=true
Terminal=false
Type=Application
Icon=/home/ccoupe/.shoes/federales/static/app-icon.png
Categories=Programming
