#!/bin/sh
#shoes_host="shoes.mvmanila.com"
#shoes_arch="armhf"
#shoes_url="$shoes_host/public/select/armhf.rb"
shoes_host="#{HOST}"
shoes_arch="#{ARCH}"
shoes_url="$shoes_host#{PATH}"

this_dir=`pwd`
# FIXME: federales string should be passed in from packaging"
shoes_dir="$HOME/.shoes/#{RELNAME}" 

if [ -x "$shoes_dir/shoes" ] ; then
  shoes="$shoes_dir/shoes"
fi
#if [ -z "$shoes" ] ; then
#  shoes="$HOME/.shoes/shoes.run"
#fi

if [ ! -x "$shoes" ] ; then
  echo "Downloading $shoes_url"

  # First, try wget.
  wget="wget -q -O -"
  wdl="wget -q"
  shoes_pkg="$($wget "$shoes_url" 2>/dev/null)"

  if [ -z "$shoes_pkg" ] ; then
    # Then, try curl.
    wget="curl -s"
    wdl="curl -s -O"
    shoes_pkg="$($wget "$shoes_url" 2>/dev/null)"

    if [ -z "$shoes_pkg" ] ; then
      # Lastly, try bsd fetch.
      wget="fetch -q -o -"
      wdl="fetch -q"
      shoes_pkg="$($wget "$shoes_url" 2>/dev/null)"

      if [ -z "$shoes_pkg" ] ; then
        echo "sorry, couldn't find wget or curl."
        exit 1;
      fi
    fi
  fi

  shoes_run="$shoes_host$shoes_pkg"
  #shoes_run="$shoes_pkg"
  echo "Fetching Installer from $shoes_run ..."
  mkdir -p $HOME/.shoes
  eval $wget "$shoes_run" > "$HOME/.shoes/shoes.install"
  chmod 755 "$HOME/.shoes/shoes.install"
  eval "$HOME/.shoes/shoes.install"
  echo "Shoes has been installed to $shoes_dir"
fi
echo "Running $this_dir/#{SCRIPT}"
$shoes_dir/shoes $this_dir/#{SCRIPT}
