<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>#{APPNAME} #{VERS}</string>
  <key>CFBundleExecutable</key>
  <string>#{NAME}-launch</string>
  <key>CFBundleIdentifier</key>
  <string>org.hackety.#{NAME}</string>
  <key>CFBundleName</key>
  <string>#{APPNAME}</string>
  <key>CFBundleIconFile</key>
  <string>Shoes.icns</string>
  <key>CFBundleShortVersionString</key>
  <string>#{VERS}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>1</integer>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>shy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Shoes.icns</string>
      <key>CFBundleTypeMIMETypes</key>
      <array>
        <string>application/x-shy</string>
      </array>
			<key>CFBundleTypeName</key>
      <string>Shoes Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
      <key>LSIsAppleDefaultForType</key>
      <true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
