<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleGetInfoString</key>
  <string>Shoes 0.1</string>
  <key>CFBundleExecutable</key>
  <string>shoes</string>
  <key>CFBundleIdentifier</key>
  <string>org.hackety.Shoes</string>
  <key>CFBundleName</key>
  <string>Shoes</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
  <key>IFMajorVersion</key>
  <integer>0</integer>
  <key>IFMinorVersion</key>
  <integer>1</integer>
  <key>WorkingDirectory</key>
  <string>$APP_PACKAGE/Content/MacOS</string>
  <key>LSEnvironment</key>
  <dict>
    <key>DYLD_LIBRARY_PATH</key>
    <string>$APP_PACKAGE/Content/MacOS:.</string>
    <key>PANGO_RC_FILE</key>
    <string>pangorc</string>
  </dict>
</dict>
</plist>
