#include <windows.h>
#include "shoes/appwin32.h"

IDI_APPLICATION ICON
"appwin32.ico"

ASKDLG DIALOG 20, 20, 299, 79
STYLE DS_SETFONT |DS_MODALFRAME |WS_POPUP |WS_VISIBLE |WS_SYSMENU |WS_CAPTION
CAPTION "Shoes asks:"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "Question",IDQUIZ,"STATIC",SS_LEFT |WS_CHILD |WS_VISIBLE ,8,8,279,30
  CONTROL "",IDQUED,"EDIT",SS_LEFT |WS_CHILD |WS_TABSTOP |WS_BORDER |WS_VISIBLE ,8,40,279,12
  CONTROL "&OK",IDOK,"BUTTON",BS_DEFPUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,200,58,40,14
  CONTROL "&Cancel",IDCANCEL,"BUTTON",BS_PUSHBUTTON |WS_CHILD |WS_TABSTOP |WS_VISIBLE ,248,58,40,14
END

